

<html>
<head></head>
<div align=center>
<iframe allowtransparency="true" frameborder="0" scrolling="no" width="600" height="420" src="http://www.gmodules.com/gadgets/ifr?url=http://prac-gadget.googlecode.com/files/picasa-slideshow-simple-nb.xml&up_CCOL=%23111111&up_SCOL=%23111111&up_PWH=560&up_PHT=420&up_DTime=5000&up_TTime=400&up_CLP=Yes&up_FEED=https://picasaweb.google.com/data/feed/base/user/wray.smith/albumid/5694568505773936705?alt=rss&ampkind=photo&amphl=en_US"><a href="http://picasaweb.google.com/mspotilas.fi/KevatKesa?authuser=0&feat=directlink#slideshow">Gallery</a></iframe>
<!-- Gadget Google - Diaporama Picasa Albums Web - http://www.liens-du-vin.ch/picasa-gadget-script.htm -->
</div>
<div align=center style="color:#eeeeee"><P><a href="http://www.fireinthedeep.com/about.html">About</a> | <a href="https://picasaweb.google.com/113733794908658305014">More</a> | <a href="mailto:wray.smith@gmail.com">Contact</a></p></div>
</body>
</html>


